<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DokanNet" version="1.1.1.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Rainbow.Core" version="2.0.0" targetFramework="net471" />
  <package id="Rainbow.Storage.Sc" version="2.0.0" targetFramework="net471" />
  <package id="Rainbow.Storage.Yaml" version="2.0.0" targetFramework="net471" />
  <package id="RestSharp" version="106.3.1" targetFramework="net471" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171219" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.RestSharp" version="1.1.70" targetFramework="net471" />
</packages>